.sold {
  text-decoration: line-through;
}

input,
button {
  border: 1px solid black;
}

button {
  background-color: lightgrey;
}

.inTeam {
  background-color: lightgreen;
}

.inSlot {
  color: red;
}
